h1{
    color: red;
    background-color: yellow;
}
/* background-color:aqua */
/* font-size: 25px; */





.div{
    background-color: yellowgreen;
}
.div2{
    background-color: cadetblue;
}
.parent{
    font-size: 25px;
    /* border-top-color:red; border-top-width:4px; border-top-style:dashed */
    border-top: red 10px solid;
    border-bottom: yellow 10px dashed;
    border-left: 10px solid green;
    border-right: 10px double maroon;
}
.main{
    height: 200px;
    width: 300px;
    border:1px solid rgb(211, 203, 203);
    text-align: justify;
}
.c{
    text-align: center;
}